* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
	height: 495px;
}

header, nav, footer {
	background-color: #EBEBEB;
	color: #8B837F;
	padding: 20px;
	margin: 10px 0px;
}

.clearfix {
	display: table;
	width: 100%;
	border-spacing: 10px
}

#section {
	background-color: #EBEBEB;
	color: #8B837F;
	padding: 20px;
	margin: 10px;
	display: table-cell;
}

article {
	background-color: #777777;
	color: #C1C8D1;
	padding: 10px 20px;
	margin: 10px 0px;
}

#headings, #paragraph {
	background-color: #EBEBEB;
	color: #797777;
	padding: 5px 10px;
	margin: 10px 0px;
}

aside {  
	background-color: #EBEBEB;
	color: #8B837F;
	padding: 20px;
	margin: 10px;
	display: table-cell;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}