* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-color: gray;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
	height: 495px;
}
header, nav, footer {
	background-color: lemonchiffon;
}

#section {
	background-color: blue;
	float: left;
	width: 576px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
}

article {
	background-color: dodgerblue;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding top: 20px;
	margin: 10px 0px;
}

#headings, #paragraph {
	background-color: pink;
	padding: 1px 10px;
	margin: 10px 0px;
}

aside {  
	background-color: green;
	float: left;
	width: 384px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}