* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-color: gray;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
	height: 495px;
}

header, nav, footer {
	background-color: lemonchiffon;
	padding: 20px;
	margin: 10px 0px;
}

#section {
	background-color: blue;
	float: left;
	padding: 20px;
	/*margin: 10px 10px 10px 0px;*/
	width: 60%;
}

article {
	background-color: dodgerblue;
	padding: 10px 20px;
	margin: 10px 0px;
}

#headings, #paragraph {
	background-color: pink;
	padding: 5px 10px;
	margin: 10px 0px;
}

aside {  
	background-color: green;
	float: left;
	padding: 20px;
	/*margin: 10px 0px 10px 10px;*/
	width: 40%;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}